p{
    color:blue
}

footer{
    font-size: 0.8rem;
}

main{
    width: 100%;
}

.lorem{
    color:darkred
}

.most{
    color:green;
}

.big{font-size: 3rem;}
.green{color:green}

#unique{
    color:purple !important
}

p > a {
    font-size: 12px;
}

p:first-chlid{
    font-size: 1.2rem;
}

section